<div class="container">
  <div class='row'>
    <div class='col s12 m6 offset-m3 l8 offset-l2'>
      <div class='card white' id='block'>
        <div class='card-content dark-text text-darken-2'>
          <h4 class='center-align'>Real Time Drawing Game</h4>
          <p class='center-align'>You will see everyone in the site drawing like you</p>
        </div>
        <div class="divider"></div>
        <div style="padding: 25px" class="center-align">
           <a href="#!/draw" class="btn btn-fb">Draw Now</a>
        </div>
      </div>
    </div>
  </div> 
  <div class='row'>
    <div class='col s12 m6 offset-m3 l8 offset-l2'>

        <div style="padding: 25px" class="center-align">
           <a href="#!/draw" class="btn white black-text">Source Code <i class="fa fa-github" aria-hidden="true"></i></a>
        </div>

    </div>
  </div>  
</div>